*{
  margin: 0;
}

.App {
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  font-family: 'Creepster', cursive;
  font-size: 40px;
  color: bisque;
}

h2{
  color: black;
  font-size: 20px;
}

p {
  color: crimson;
  font-family: 'JomHuria', cursive;
  font-size: 35px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.Perss{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
}

.App-header img{
  max-width: 100%;
}